td{
    border : 1px solid black;
    padding: 10px 15px;
    word-wrap: break-word; 
}

table{
    border-collapse: collapse;
}

.ligne-impaire{
    background-color: #8080c0;
}

.ligne-paire{
    background-color: #EEE;
}

