<html>

<head>
<title>Dap</title>
<link rel="stylesheet" type="text/css" th:href="@{css/dap.css}"
	href="../static/css/dap.css">
<!--  -->

</head>

<body>
	<span> Bonjour,</span>
	
<br /> 
<br /> 
<br /> 
<br /> 


		<table border="1" cellpadding="10" width="50%">
			<tbody>
				<tr>
					<td align="center">Id</td>
					<td align="center">Token</td>
					<td align="center">Expire</td>
					<td align="center">Refresh</td>
				</tr>

				<!-- <tr th:each="mapEntry : ${companyID}">
    				<td th:text="${mapEntry.key}">keyvalue</td>
   					 <td th:each="item : ${mapEntry.value}" th:text="${item.FIELD_NAME_OF_YOUR_POJO}">keyvalue</td>
					</tr> -->

				<tr>
					<td align="center" th:each="user : ${Id}"></td>
					<td align="center" th:each="token : ${Token}"></td>
					<td align="center" th:each="exp : ${Expire}"></td>
					<td align="center" th:each="refresh : ${Refresh}"></td>
				</tr>

				<tr>
					<td align="center" th:each="user : ${Id}"></td>
					<td align="center" th:each="token : ${Token}"></td>
					<td align="center" th:each="exp : ${Expire}"></td>
					<td align="center" th:each="refresh : ${Refresh}"></td>
				</tr>

				<tr>
					<td align="center" th:each="user : ${Id}"></td>
					<td align="center" th:each="token : ${Token}"></td>
					<td align="center" th:each="exp : ${Expire}"></td>
					<td align="center" th:each="refresh : ${Refresh}"></td>
				</tr>

			</tbody>
		</table>




</body>


</html>