<html>

<head>
<title>Salut de Dap</title>
<link rel="stylesheet" type="text/css" th:href="@{css/dap.css}" href="../static/css/dap.css">
</head>

<body>
	<span> Salut ! </span>
	<span th:text="${maVar}">Gertrude</span>
	<!-- si dans le modèle il n'y a pas maVar, il affichera Gertrude, ça permet de dev en front le template -->
	
	<div>
		<ul>
		<li th:each="bete : ${bebetes}"><span th:text="${bete}">une des bêtes</span></li>
			<!--
			 <li>Chien</li>
			<li>Autruche</li>
			<li>Crocodile</li> -->
		</ul>
	</div>

</body>
</html>